{% extends "network/layout.html" %}


{% block body %}
    <div class="container">
        
        {% if user.is_authenticated %}
    <div class="container-fluid border py-3 rounded" id="postbox">
        
        <form action="{% url 'create_post' %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" name="text" id="" placeholder="Share your thoughts.. " ></textarea>
            
            <div id="button_right">
                <button class="btn btn-primary mt-2" id="post_btn">Post</button>
            </div>
            
        </form>
        
    </div>
    {% endif %}
    
    
    <div class="continer-fluid" id="posts"></div>
    
    
</div>
    {% endblock %}