{% load static %}
<script type="text/javascript">
    var DJANGO_STATIC_URL = "{% url 'index' %}";
</script>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <script src="{% static 'network/javascript.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Network</a>
        
            <div>
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="profile" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link" id="index" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'follow' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </nav>
        
        <div class="body">
           
            <dialog>
                <form id="edit_form" method="post"> 
                    {% csrf_token %}
                    <textarea name="text" id="edit_text" cols="100" rows="10"></textarea>
                    <button type="submit" formmethod="dialog" class="btn btn-secondary" id="edit_submit">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="edit_submit">Submit</button>
                    
                </form>
            </dialog>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>