{% extends "network/layout.html" %}


{% block body %}
    <div id="profile_view" class="container-fluid border p-4">
        <h5>{{ User.username }}</h5>
        <p>Following: {{ User.following.count }}  Follwers: {{ User.followers.count }}</p>  
        
            <button id="btn_unfollow" type="button" class="btn btn-danger">Unfollow</button>
            <button id="btn_follow" type="button" class="btn btn-primary">Follow</button>

        </div>

    <div class="continer-fluid" id="posts"></div>

{% endblock %}