body {
    padding: 10px;
}

#button_right{
    text-align: right;
}

#postbox {
    margin-top: 12px;
    margin-bottom: 8px;
}

#date {
    font-family: sans-serif;
    font-size: 12px;
    color: #999;
}

#pro_pic {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: thistle;
    float: left;
}

#user_name {
    margin-top: 3px;
    margin-left: 3.5%;
}

#user_text {
    clear: both;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 30px;
    
}

#heart {
    display: inline-block;
}

#count {
    display: inline-block;
    padding-left: 10px;
}
