body {
    padding: 10px;
}

#button_right{
    text-align: right;
}

#postbox {
    margin-top: 12px;
    width: 50%;
}

#date {
    font-family: sans-serif;
    font-size: 12px;
    color: #999;
}

#pic {
    border-radius: 50%;
}